---
---

@import "minima";

.site-title {
  font-weight: 700;
}

.home h1 {
  margin-bottom: 0.6rem;
}

.home h2,
.post-content h2 {
  margin-top: 2rem;
}

.post-content ul {
  margin-bottom: 1.2rem;
}
